###################
# Compiled source #
###################
*.exe
*.o
*.d
*.a
###############
# Directories #
###############
.metadata/*
RemoteSystemsTempFiles/*
Irrigation/.settings/*
Irrigation_test/.settings/