###################
# Compiled source #
###################
#*.exe
#*.o
#*.d
#*.a

#################################
# Eclipse directories and files #
#################################
/RemoteSystemsTempFiles/
/.metadata/
/Irrigation/.cproject
/Irrigation/.project
/Irrigation/.settings

###############
# Directories #
###############
/Irrigation/bin
/Irrigation/build
