
	th {
		background-color: WhiteSmoke;
	}

	.captioncell {
		color: Gray;
		text-align: right;
	}

	.contentcell {
	}

	.groupingcell {
		line-height: 1.1;
		font-weight: 500;
		color: RoyalBlue;
		text-transform: uppercase;
		letter-spacing: 0;
		margin-top: 2.4em;
		margin-bottom: 0.8em;
	}

	.nowordwrap {
		white-space: nowrap;
	}
